.svg-basket-dims {
	width: 18px;
	height: 18px;
}

.svg-light-dims {
	width: 16px;
	height: 20px;
}

.svg-logo-dims {
	width: 163px;
	height: 109px;
}

.svg-next-dims {
	width: 21px;
	height: 16px;
}

.svg-s_facebook-dims {
	width: 14px;
	height: 14px;
}

.svg-s_inst-dims {
	width: 14px;
	height: 14px;
}

.svg-s_twitter-dims {
	width: 15px;
	height: 15px;
}

.svg-s_vk-dims {
	width: 16px;
	height: 16px;
}

.svg-search-dims {
	width: 18px;
	height: 18px;
}

