.svg-basket-dims {
	width: 18px;
	height: 18px;
}

.svg-light-dims {
	width: 16px;
	height: 20px;
}

.svg-logo-dims {
	width: 163px;
	height: 109px;
}

.svg-search-dims {
	width: 18px;
	height: 18px;
}

