.svg-bask_btn-dims {
	width: 18px;
	height: 22px;
}

.svg-basket-dims {
	width: 18px;
	height: 18px;
}

.svg-c_minus-dims {
	width: 16px;
	height: 16px;
}

.svg-c_plus-dims {
	width: 16px;
	height: 16px;
}

.svg-clip-dims {
	width: 18px;
	height: 18px;
}

.svg-coop1-dims {
	width: 71px;
	height: 71px;
}

.svg-coop2-dims {
	width: 58px;
	height: 58px;
}

.svg-coop3-dims {
	width: 70px;
	height: 70px;
}

.svg-coop4-dims {
	width: 57px;
	height: 57px;
}

.svg-coop5-dims {
	width: 64px;
	height: 64px;
}

.svg-coop6-dims {
	width: 60px;
	height: 60px;
}

.svg-coop7-dims {
	width: 54px;
	height: 54px;
}

.svg-coop8-dims {
	width: 60px;
	height: 60px;
}

.svg-document-dims {
	width: 37px;
	height: 47px;
}

.svg-dorohov-dims {
	width: 101px;
	height: 35px;
}

.svg-download-dims {
	width: 38px;
	height: 34px;
}

.svg-dropdown-dims {
	width: 10px;
	height: 8px;
}

.svg-light-dims {
	width: 16px;
	height: 20px;
}

.svg-logo-dims {
	width: 163px;
	height: 109px;
}

.svg-next-dims {
	width: 21px;
	height: 16px;
}

.svg-production1-dims {
	width: 59px;
	height: 71px;
}

.svg-production2-dims {
	width: 70px;
	height: 70px;
}

.svg-production3-dims {
	width: 57px;
	height: 57px;
}

.svg-production4-dims {
	width: 58px;
	height: 58px;
}

.svg-production5-dims {
	width: 64px;
	height: 64px;
}

.svg-production6-dims {
	width: 60px;
	height: 60px;
}

.svg-s_facebook-dims {
	width: 14px;
	height: 14px;
}

.svg-s_inst-dims {
	width: 14px;
	height: 14px;
}

.svg-s_twitter-dims {
	width: 15px;
	height: 15px;
}

.svg-s_vk-dims {
	width: 16px;
	height: 16px;
}

.svg-search-dims {
	width: 18px;
	height: 18px;
}

