<div class="social is--@@align">
    <ul>
        <li>
            <a href="#">
                @@include('component.svg.html', {"name": "s_twitter"})
            </a>
        </li>
        <li>
            <a href="#">
                @@include('component.svg.html', {"name": "s_inst"})
            </a>
        </li>
        <li>
            <a href="#">
                @@include('component.svg.html', {"name": "s_facebook"})
            </a>
        </li>
        <li>
            <a href="#">
                @@include('component.svg.html', {"name": "s_vk"})
            </a>
        </li>
    </ul>
</div>