body {
    @include col(background-color, var(--main-bg), $main-bg);
    color: var(--text-color);
    font-family: 'Futura PT';
}

*,
*::after,
*::before {
    box-sizing: border-box;
    outline: none;
}

a {
    text-decoration: none;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

img {
    width: 100%;
}

svg,
img {
    vertical-align: middle;
}