$c-primary: #7B5F54;

body {
    @include col(background-color, var(--main-bg), $main-bg);
    color: var(--text-color);
    @include col(color, var(--text-color), $text-color);
    font-family: 'Futura PT';
    &.is--white {
        .basket__line__color__circle span.is--bg-white {
            border: 1px solid #C4C4C4;
        }
        .basket__line__title__art,
        .basket__total__heading {
            color: #0F0F0F;
        }
    }
    &.is--dark {
        .basket__line__title__art,
        .basket__total__heading {
            color: #AFAFAF;
        } 
    }
    &.is--menu-open {
        overflow: hidden;
        .navbar {
            @include col(background, var(--main-bg), $main-bg);
        }
    }
}

*,
*::after,
*::before {
    box-sizing: border-box;
    outline: none;
}

a {
    text-decoration: none;
}

ul,
ol {
    margin: 0;
    padding: 0;
    list-style: none;
}

img {
    width: 100%;
}

svg,
img {
    vertical-align: middle;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

input[type=number] {
    -moz-appearance:textfield;
}

.is--bg {
    &-white {
        background: #fff;
    }
    &-blue {
        background: #4992FF;
    }
    &-yellow {
        background: #FFBB54;
    }
}

.is--mb40 {
    margin-bottom: 40px !important;
}
.is--mb60 {
    margin-bottom: 60px !important;
}
.is--mb80 {
    margin-bottom: 80px !important;
}
.is--mb120 {
    margin-bottom: 120px !important;
}

.article {
    p {
        font-size: 18px;
        line-height: 112.5%;
        margin: 0 0 20px 0;
        &:last-child {
            margin-bottom: 0;
        }
    }
    ul {
        margin: 0 0 20px 0;
        font-size: 18px;
        line-height: 112.5%;
        li {
            padding-left: 15px;
            position: relative;
            &::before {
                content: '';
                width: 8px;
                height: 8px;
                position: absolute;
                background: $c-primary;
                border-radius: 100%;
                top: 6px;
                left: 0;
            }
        }
    }
    ul {
        &.is--p {
            font-size: 18px;
            li {
                line-height: 135.5%;
                b {
                    font-weight: 500;
                }
                &.is--red {
                    color: #E1323D;
                }
            }
        }
    }
    &__block {
        display: flex;
        margin: 0 -25px;
        &__left,
        &__right {
            max-width: 50%;
            width: 100%;
            padding: 0 25px;
        }
        &.is--light {
            font-weight: 300;
        }
    }
}

@media (max-width: 1200px) {
    br {
        display: none;
    }
}

@media (max-width: 1025px) {
    .is--mb40 {
        margin-bottom: 20px;
    }
    .is--mb60 {
        margin-bottom: 30px;
    }
    .is--mb80 {
        margin-bottom: 40px;
    }
    .is--mb120 {
        margin-bottom: 60px;
    }
}

@media (max-width: 768px) {
    .article {
        p,
        ul.is--p li {
            font-size: 16px;
        }
        &__block {
            flex-wrap: wrap;
            margin: 0;
            &__left,
            &__right {
                padding: 0;
                max-width: 100%;
            }
            &__left {
                margin-bottom: 30px;
            }
        }
        ul {
            font-size: 16px;
        }
    }
    .is--mb40 {
        margin-bottom: 10px !important;
    }
    .is--mb60 {
        margin-bottom: 15px !important;
    }
    .is--mb80 {
        margin-bottom: 20px !important;
    }
    .is--mb120 {
        margin-bottom: 30px !important;
    }
}