.catalog {
    &__heading {
        margin-bottom: 70px;
        display: flex;
        align-items: center;
        .heading {
            margin-bottom: 30px;
        }
        &__left {
            display: flex;
            align-items: center;
            &__dropdown {
                margin-left: 35px;
            }
        }
        &__right {
            margin-left: auto;
            display: flex;
            align-items: center;
        }
        &__sort {
            display: flex;
            align-items: center;
            margin-right: 55px;
            .switch {
                margin-left: 12px;
            }
        }
        &__download {
            a {
                display: flex;
                align-items: center;
                color: $c-primary;
                font-size: 18px;
                font-weight: 500;
                svg {
                    fill: $c-primary;
                    margin-right: 10px;
                }
            }
        }
        &__tabs {
            margin-left: 30px;
            ul {
                display: flex;
                li {
                    margin-right: 10px;
                    a {
                        display: block;
                        border: 1px solid #706B6B;
                        border-radius: 62px;
                        color: #706B6B;
                        padding: 6px 12px;
                        transition: .25s all ease;
                        &:hover,
                        &.is--active {
                            @include col(color, var(--text-color), $text-color);
                            border-color: $c-primary;
                        }
                    }
                }
            }
        }
    }
    &__list {
        margin-bottom: 80px;
        &__inner {
            display: flex;
            flex-wrap: wrap;
            margin: -5px;
        }
    }
    &__block {
        max-width: 16.6%;
        width: 100%;
        padding: 5px;
        &__inner {
            display: block;
            @include col(background, var(--catalog-card-bg), $catalog-card-bg);
            transition: .25s all ease;
            &:hover {
                @include col(background, var(--catalog-card-bg-hover), $catalog-card-bg-hover);
            }
        }
        &__top {
            display: flex;
            padding: 25px 30px 0 30px;
            &__left {
                span {
                    font-size: 18px;
                    &.is--new {
                        color: #1F864D;
                    }
                    &.is--ac {
                        color: #E1323D;
                    }
                }
            }
            &__right {
                margin-left: auto;
                button {
                    border: none;
                    padding: 0;
                    background: none;
                    position: relative;
                    z-index: 999;
                    cursor: pointer;
                    svg {
                        @include col(fill, var(--text-color), $text-color);
                    }
                }
            }
        }
        &__link {
            padding: 10px 30px 45px 30px;
            display: block;
        }
        &__img {
            text-align: center;
            margin-bottom: 40px;
            display: block;
            img {
                max-width: 150px;
                width: 100%;
            }
        }
        &__title {
            text-align: center;
            &__name {
                @include col(color, var(--text-color), $text-color);
                font-size: 18px;
                margin-bottom: 10px;
            }
            &__art {
                @include col(color, var(--footer-text), $footer-text);
            }
        }
    }
}

.item {
    @include col(background, var(--item-bg), $item-bg);
    padding-bottom: 0;
    &.is--carousel {
        padding-top: 100px;
    }
    &__main {
        display: flex;
        justify-content: space-between;
        padding-bottom: 75px;
        &__left {
            min-width: 550px;
            width: 550px;
            img {
                max-width: 300px;
                width: 100%;
                margin-left: 45px;
            }
        }
        &__img {
            a {
                cursor: url(../../img/cursor.svg) 24 24, auto;
                display: none;
                &:first-child {
                    display: block !important;
                }
            }
        }
        &__left {
            .heading {
                margin-bottom: 45px;
            }
        }
        &__center {
            max-width: 500px;
            width: 100%;
        }
        &__right {
            margin: auto 0 80px 0;
            min-width: 370px;
            width: 370px;
            img {
                max-width: 100%;
                width: 100%;
            }
        }
        &__tabs {
            &__menu {
                margin-bottom: 40px;
                ul {
                    display: flex;
                    li {
                        span {
                            cursor: pointer;
                            display: block;
                            font-size: 24px;
                            @include col(color, var(--text-color), $text-color);
                            padding: 13px 25px;
                            border-radius: 102px;
                            border: 3px solid transparent;
                        }
                        &.is--active {
                            span {
                                border-color: $c-primary;
                            }
                        }
                    }
                }
            }
            &__container {
                padding-left: 25px;
                overflow: hidden;
            }
        }
        &__features {
            ul {
                li {
                    position: relative;
                    display: flex;
                    z-index: 5;
                    font-size: 18px;
                    margin-bottom: 6px;
                    span {
                        @include col(background, var(--item-bg), $item-bg);
                        display: inline-block;
                        z-index: 10;
                    }
                    div {
                        &.is--on {
                            max-width: 220px;
                            width: 220px;
                            min-width: 220px;
                            color: #AFAFAF;
                            span {
                                padding-right: 5px;
                            }
                        }
                        &.is--tw {
                            width: 100%;
                            span {
                                display: block;
                                padding-left: 5px;
                            }
                        }
                    }
                    &::after {
                        content: '................................................................................................................................................................................................';
                        position: absolute;
                        left: 0;
                        z-index: -1;
                        color: #666666;
                    }
                }
            }
            &__color {
                margin-bottom: 50px;
                &__heading {
                    color: #AFAFAF;
                    font-size: 18px;
                    margin-bottom: 20px;
                }
                &__body {
                    ol {
                        display: flex;
                        li {
                            margin-right: 10px;
                            a {
                                font-size: 18px;
                                padding: 3px 8px;
                                border: 1px solid #706B6B;
                                border-radius: 62px;
                                cursor: pointer;
                                color: #706B6B;
                                transition: .25s all ease;
                                display: inline-block;
                                user-select: none;
                            }
                            &.is--active {
                                a {
                                    border-color: $c-primary;
                                    @include col(color, var(--text-color), $text-color);
                                }
                            }
                        }
                    }
                }
            }
        }
        &__desc {
            &__heading {
                font-size: 18px;
                margin-bottom: 20px;
            }
            &__content {
                p {
                    margin: 0;
                    font-size: 18px;
                }
            }
        }
        &__docs {
            ul {
                li {
                    margin-bottom: 40px;
                    &:last-child {
                        margin-bottom: 0;
                    }
                }
            }
            &__block {
                display: flex;
                align-items: center;
                &__left {
                    margin-right: 18px;
                    svg {
                        fill: $c-primary;
                    }
                }
                &__right {
                    @include col(color, var(--text-color), $text-color);
                    font-size: 18px;
                }
            }
        }
    }
}

.item-basket {
    padding: 50px 0;
    @include colBorder(border-top, 1px, solid, var(--item-borders), $item-borders);
    @include colBorder(border-bottom, 1px, solid, var(--item-borders), $item-borders);
    &__line {
        display: flex;
        &__left,
        &__right {
            display: flex;
            align-items: center;
        }
        &__left {
            div.is--text {
                color: #AFAFAF;
                font-size: 18px;
            }
        }
        &__right {
            margin-left: auto;
        }
        &__art {
            margin-right: 40px;
        }
        &__price {
            font-size: 24px;
        }
        &__btn {
            margin-left: 9.4vw;
        }
        &__count {
            margin-left: 5vw;
            &__inner {
                padding: 25px 33px;
                position: relative;
                border: 4px solid $c-primary;
                border-radius: 50px;
                display: flex;
                align-items: center;
                input {
                    max-width: 60px;
                    text-align: center;
                    background: transparent;
                    border: none;
                    padding: 0;
                    @include col(color, var(--text-color), $text-color);
                    font-size: 24px;
                    padding-left: 10px;
                    padding-right: 10px;
                }
                button {
                    width: 16px;
                    height: 16px;
                    border: none;
                    background: transparent;
                    cursor: pointer;
                    display: block;
                    padding: 0;
                    svg {
                        @include col(fill, var(--text-color), $text-color);
                    }
                }
            }
        }
    }
}

.item-bulb {
    padding: 100px 0 120px 0;
    .heading {
        margin-bottom: 100px;
    }
    &__inner {
        display: flex;
    }
    &__left {
        margin-right: 7.3vw;
        min-width: 86px;
        width: 86px;
    }
    &__right {
        display: flex;
        width: 100%;
    }
    &__price {
        margin-left: auto;
        display: flex;
        &__num {
            margin-right: 5.2vw;
            font-size: 24px;
        }
    }
    &__filters {
        display: flex;
        max-width: 610px;
        width: 100%;
        justify-content: space-between;
        &__block {
            &__heading {
                font-size: 24px;
                margin-bottom: 25px;
            }
            &__list {
                &__check {
                    display: flex;
                    flex-wrap:wrap;
                    &.is--w100 {
                        .change-block {
                            max-width: 100%;
                            width: 100%;
                        }
                    }
                    .change-block {
                        margin: 0;
                        padding: 0 10px 10px 0;
                    }
                    .is--row {
                        width: 100%;
                        display: flex;
                    }
                }
            }
        }
    }
}

.item-carousel {
    position: relative;
    &__item {
        min-height: 525px !important;
        background-size: cover;
        display: block;
        background-position: center;
        @media (max-width: 1650px) {
            min-height: 460px !important;
        }
        @media (max-width: 1200px) {
            min-height: 250px !important;
        }
    }
    &__controls {
        display: flex;
        position: absolute;
        bottom: 30px;
        left: 0;
        right: 0;
        justify-content: flex-end;
    }
}

@media (max-width: 1700px) {
    .item {
        &__main {
            &__left {
                min-width: 400px;
                width: 400px;
                .heading {
                    &__text {
                        font-size: 52px;
                    }
                }
            }
            &__right {
                min-width: 300px;
                width: 300px;
            }
            &__tabs {
                &__menu {
                    ul {
                        li {
                            span {
                                font-size: 18px;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 1440px) {
    .catalog {
        &__block {
            max-width: 25%;
        }
    }
    .item-basket {
        &__line {
            &__count {
                margin-left: 2vw;
            }
            &__btn {
                margin-left: 4vw;
            }
        }
    }
    .item-bulb {
        &__price {
            flex-wrap: wrap;
            &__num {
                width: 100%;
                margin-right: 0;
            }
        }
    }
}

@media (max-width: 1300px) {
    .catalog {
        &__heading {
            flex-wrap: wrap;
            &__left {
                margin-bottom: 10px;
            }
            &__right {
                max-width: 100%;
                width: 100%;
            }
        }
    }
}

@media (max-width: 1200px) {
    .item {
        &__main {
            flex-flow: wrap;
            &__left {
                order: 0;
            }
            &__right {
                order: 1;
                min-width: 0;
                max-width: 430px;
                width: 100%;
                margin: auto auto 0 0;
            }
            &__center {
                order: 2;
                padding-top: 90px;
                max-width: 100%;
            }
            &__tabs {
                max-width: 950px;
                width: 100%;
                margin: 0 auto;
                &__menu {
                    margin-bottom: 70px;
                    ul {
                        justify-content: center;
                    }
                }
            }
            &__features {
                display: flex;
                ul {
                    overflow: hidden;
                    li {
                        div.is--on {
                            max-width: 380px;
                            width: 380px;
                            min-width: 380px;
                        }
                    }
                }
                &__color {
                    &__container {
                        margin-left: auto;
                    }
                }
            }
            &__docs {
                ul {
                    display: flex;
                    li {
                        margin: 0 30px 30px 0;
                    }
                }
            }
        }
    }
    .item-basket {
        &__line {
            flex-wrap: wrap;
            &__left {
                width: 100%;
                margin-bottom: 30px;
            }
            &__right {
                margin: 0;
            }
        }
    }
}

@media (max-width: 1025px) {
    .catalog {
        &__block {
            max-width: 33.333333%;
        }
    }
    .item {
        &__main {
            &__left,
            &__right {
                max-width: 100%;
                width: 100%;
                min-width: 0;
            }
            &__coun {
                max-width: 350px;
                margin: 0 auto;
            }
            &__img {
                text-align: center;
                margin-bottom: 50px;
                img {
                    margin: 0 auto;
                }
            }
            &__features {
                flex-wrap: wrap;
                ul {
                    li {
                        div {
                            &.is--on {
                                max-width: 290px;
                                width: 290px;
                                min-width: 290px;
                            }
                        }
                    }
                }
                &__color {
                    &__container {
                        width: 100%;
                    }
                }
            }
        }
    }
    .item-bulb {
        &__left {
            display: none;
        }
    }
}

@media (max-width: 768px) {
    .catalog {
        &__list {
            margin-bottom: 50px;
        }
        &__block {
            max-width: 50%;
        }
        &__heading {
            margin-bottom: 40px;
            &__left {
                flex-wrap: wrap;
                margin-bottom: 0;
                .heading {
                    width: 100%;
                    margin-bottom: 30px;
                }
                &__dropdown {
                    margin-left: 0;
                    margin-bottom: 10px;
                }
            }
            &__sort {
                margin-top: 10px;
                margin-right: 0;
            }
            &__download {
                display: none;
            }
            &__tabs {
                width: 100%;
                margin: 0;
                ul {
                    margin: 0 -5px;
                    flex-wrap: wrap;
                    li {
                        margin: 5px;
                    }
                }
            }
        }
    }
    .item {
        &.is--carousel {
            padding-top: 50px;
        }
        &__main {
            &__left {
                .heading {
                    margin-bottom: 30px;
                    &__text {
                        font-size: 28px;
                    }
                }
            }
            &__center {
                padding-top: 30px;
            }
            &__tabs {
                &__menu {
                    margin-bottom: 20px;
                    ul {
                        flex-wrap: wrap;
                        justify-content: flex-start;
                        li {
                            margin: 0 15px 15px 0;
                            span {
                                font-size: 16px;
                                padding: 10px 15px;
                            }
                        }
                    }
                }
                &__container {
                    padding-left: 0;
                }
            }
            &__features {
                ul {
                    li {
                        flex-wrap: wrap;
                        margin-bottom: 10px;
                        font-size: 16px;
                        div {
                            min-width: 0 !important;
                            max-width: 100% !important;
                            width: 100% !important;
                            span {
                                padding: 0 !important;
                            }
                            &.is--on {
                                margin-bottom: 5px;
                            }
                        }
                        &::after {
                            content: none;
                        }
                    }
                }
                &__color {
                    margin-bottom: 20px;
                    &__body {
                        ol {
                            flex-wrap: wrap;
                            li {
                                margin: 0 10px 10px 0;
                            }
                        }
                    }
                }
            }
            &__desc {
                &__heading,
                &__content p {
                    font-size: 16px;
                }
                &__heading {
                    margin-bottom: 10px;
                }
            }
            &__docs {
                ul {
                    flex-wrap: wrap;
                }
                &__block {
                    &__right {
                        font-size: 16px;
                    }
                }
            }
        }
    }
    .item-basket {
        &__line {
            &__right {
                flex-flow: wrap;
            }
            &__left {
                flex-wrap: wrap;
            }
            &__art {
                margin-bottom: 15px;
                width: 100%;
            }
            &__count {
                order: 0;
                margin: 0;
            }
            &__price {
                order: 1;
                width: 100%;
                margin: 30px 0;
            }
            &__btn {
                order: 2;
                margin: 0;
            }
            &__count {
                &__inner {
                    padding: 10px 20px;
                }
            }
        }
    }
    .item-bulb {
        padding: 50px 0;
        .heading {
            margin-bottom: 40px;
        }
        &__right {
            flex-wrap: wrap;
        }
        &__price {
            margin: 0;
            &__num {
                margin-bottom: 30px;
            }
        }
        &__filters {
            margin-bottom: 50px;
            flex-wrap: wrap;
            &__block {
                margin: 0 20px 30px 0;
                &:last-child {
                    margin-bottom: 0;
                }
                &__heading {
                    font-size: 20px;
                    margin-bottom: 15px;
                }
                &__list {
                    &__check {
                        .change-block {
                            max-width: 100%;
                            width: auto !important;
                        }
                        .is--row {
                            width: auto;
                        }
                    }
                }
            }
        }
    }
    .item-carousel {
        &__controls {
            bottom: 20px;
        }
    }
}

@media (max-width: 550px) {
    .catalog {
        &__block {
            max-width: 100%;
        }
    }
}