.is--c-ral1 {background: #CABE8E;border: 1px solid #c4c4c4;}
.is--c-ral2 {background: #CEB58C;border: 1px solid #c4c4c4;}
.is--c-ral3 {background: #CFAF76;border: 1px solid #c4c4c4;}
.is--c-ral4 {background: #F2AD22;border: 1px solid #c4c4c4;}
.is--c-ral5 {background: #DFA31F;border: 1px solid #c4c4c4;}
.is--c-ral6 {background: #C89625;border: 1px solid #c4c4c4;}
.is--c-ral7 {background: #DD9622;border: 1px solid #c4c4c4;}
.is--c-ral8 {background: #E5941F;border: 1px solid #c4c4c4;}
.is--c-ral9 {background: #AF885D;border: 1px solid #c4c4c4;}
.is--c-ral10 {background: #D8B33E;border: 1px solid #c4c4c4;}
.is--c-ral11 {background: #E4DDCB;border: 1px solid #c4c4c4;}
.is--c-ral12 {background: #DCC6A1;border: 1px solid #c4c4c4;}
.is--c-ral13 {background: #E5D5BB;border: 1px solid #c4c4c4;}
.is--c-ral14 {background: #EDE334;border: 1px solid #c4c4c4;}
.is--c-ral15 {background: #F2AE5D;border: 1px solid #c4c4c4;}
.is--c-ral16 {background: #F4D046;border: 1px solid #c4c4c4;}
.is--c-ral17 {background: #A69480;border: 1px solid #c4c4c4;}
.is--c-ral18 {background: #A2946D;border: 1px solid #c4c4c4;}
.is--c-ral19 {background: #EEBB00;border: 1px solid #c4c4c4;}
.is--c-ral20 {background: #F1BB01;border: 1px solid #c4c4c4;}
.is--c-ral21 {background: #B99559;border: 1px solid #c4c4c4;}
.is--c-ral22 {background: #F0FD00;border: 1px solid #c4c4c4;}
.is--c-ral23 {background: #A78734;border: 1px solid #c4c4c4;}
.is--c-ral24 {background: #FFA200;border: 1px solid #c4c4c4;}
.is--c-ral25 {background: #DBA829;border: 1px solid #c4c4c4;}
.is--c-ral26 {background: #F3A038;border: 1px solid #c4c4c4;}
.is--c-ral27 {background: #E9A35E;border: 1px solid #c4c4c4;}
.is--c-ral28 {background: #8B836F;border: 1px solid #c4c4c4;}
.is--c-ral29 {background: #8E774D;border: 1px solid #c4c4c4;}
.is--c-ral30 {background: #EB982E;border: 1px solid #c4c4c4;}
.is--c-ral31 {background: #D7772D;border: 1px solid #c4c4c4;}
.is--c-ral32 {background: #BA563C;border: 1px solid #c4c4c4;}
.is--c-ral33 {background: #BE483C;border: 1px solid #c4c4c4;}
.is--c-ral34 {background: #F28044;border: 1px solid #c4c4c4;}
.is--c-ral35 {background: #DF5E34;border: 1px solid #c4c4c4;}
.is--c-ral36 {background: #FF1502;border: 1px solid #c4c4c4;}
.is--c-ral37 {background: #FF9600;border: 1px solid #c4c4c4;}
.is--c-ral38 {background: #E9723A;border: 1px solid #c4c4c4;}
.is--c-ral39 {background: #DB5E32;border: 1px solid #c4c4c4;}
.is--c-ral40 {background: #CC653C;border: 1px solid #c4c4c4;}
.is--c-ral41 {background: #E27638;border: 1px solid #c4c4c4;}
.is--c-ral42 {background: #D46B58;border: 1px solid #c4c4c4;}
.is--c-ral43 {background: #994A2A;border: 1px solid #c4c4c4;}
.is--c-ral44 {background: #A8403D;border: 1px solid #c4c4c4;}
.is--c-ral45 {background: #A03C3E;border: 1px solid #c4c4c4;}
.is--c-ral46 {background: #9F3B3D;border: 1px solid #c4c4c4;}
.is--c-ral47 {background: #8A383E;border: 1px solid #c4c4c4;}
.is--c-ral48 {background: #753C42;border: 1px solid #c4c4c4;}
.is--c-ral49 {background: #663D43;border: 1px solid #c4c4c4;}
.is--c-ral50 {background: #513E40;border: 1px solid #c4c4c4;}
.is--c-ral51 {background: #734641;border: 1px solid #c4c4c4;}
.is--c-ral52 {background: #7D3D3D;border: 1px solid #c4c4c4;}
.is--c-ral53 {background: #C88B78;border: 1px solid #c4c4c4;}
.is--c-ral54 {background: #99443F;border: 1px solid #c4c4c4;}
.is--c-ral55 {background: #CB797D;border: 1px solid #c4c4c4;}
.is--c-ral56 {background: #D8A5AE;border: 1px solid #c4c4c4;}
.is--c-ral57 {background: #A94C44;border: 1px solid #c4c4c4;}
.is--c-ral58 {background: #CA5F69;border: 1px solid #c4c4c4;}
.is--c-ral59 {background: #C74F59;border: 1px solid #c4c4c4;}
.is--c-ral60 {background: #BB3939;border: 1px solid #c4c4c4;}
.is--c-ral61 {background: #CD705E;border: 1px solid #c4c4c4;}
.is--c-ral62 {background: #F60100;border: 1px solid #c4c4c4;}
.is--c-ral63 {background: #FE0000;border: 1px solid #c4c4c4;}
.is--c-ral64 {background: #AD3E4F;border: 1px solid #c4c4c4;}
.is--c-ral65 {background: #CB3234;border: 1px solid #c4c4c4;}
.is--c-ral66 {background: #AB464E;border: 1px solid #c4c4c4;}
.is--c-ral67 {background: #751521;border: 1px solid #c4c4c4;}
.is--c-ral68 {background: #AD3F38;border: 1px solid #c4c4c4;}
.is--c-ral69 {background: #8C6A8B;border: 1px solid #c4c4c4;}
.is--c-ral70 {background: #924E5D;border: 1px solid #c4c4c4;}
.is--c-ral71 {background: #C66A93;border: 1px solid #c4c4c4;}
.is--c-ral72 {background: #703B4D;border: 1px solid #c4c4c4;}
.is--c-ral73 {background: #8470A1;border: 1px solid #c4c4c4;}
.is--c-ral74 {background: #97467E;border: 1px solid #c4c4c4;}
.is--c-ral75 {background: #573E51;border: 1px solid #c4c4c4;}
.is--c-ral76 {background: #8D5789;border: 1px solid #c4c4c4;}
.is--c-ral77 {background: #A38B98;border: 1px solid #c4c4c4;}
.is--c-ral78 {background: #C05082;border: 1px solid #c4c4c4;}
.is--c-ral79 {background: #826492;border: 1px solid #c4c4c4;}
.is--c-ral80 {background: #726981;border: 1px solid #c4c4c4;}
.is--c-ral81 {background: #485B79;border: 1px solid #c4c4c4;}
.is--c-ral82 {background: #38586F;border: 1px solid #c4c4c4;}
.is--c-ral83 {background: #3F4B87;border: 1px solid #c4c4c4;}
.is--c-ral84 {background: #3B4963;border: 1px solid #c4c4c4;}
.is--c-ral85 {background: #3C3F48;border: 1px solid #c4c4c4;}
.is--c-ral86 {background: #2B5D8E;border: 1px solid #c4c4c4;}
.is--c-ral87 {background: #4F7194;border: 1px solid #c4c4c4;}
.is--c-ral88 {background: #454C56;border: 1px solid #c4c4c4;}
.is--c-ral89 {background: #3E667F;border: 1px solid #c4c4c4;}
.is--c-ral90 {background: #2B5A84;border: 1px solid #c4c4c4;}
.is--c-ral91 {background: #3C4250;border: 1px solid #c4c4c4;}
.is--c-ral92 {background: #418EBA;border: 1px solid #c4c4c4;}
.is--c-ral93 {background: #3C4661;border: 1px solid #c4c4c4;}
.is--c-ral94 {background: #71839B;border: 1px solid #c4c4c4;}
.is--c-ral95 {background: #3082B4;border: 1px solid #c4c4c4;}
.is--c-ral96 {background: #186694;border: 1px solid #c4c4c4;}
.is--c-ral97 {background: #389293;border: 1px solid #c4c4c4;}
.is--c-ral98 {background: #31678B;border: 1px solid #c4c4c4;}
.is--c-ral99 {background: #2A525A;border: 1px solid #c4c4c4;}
.is--c-ral100 {background: #097D7D;border: 1px solid #c4c4c4;}
.is--c-ral101 {background: #444267;border: 1px solid #c4c4c4;}
.is--c-ral102 {background: #5A7495;border: 1px solid #c4c4c4;}
.is--c-ral103 {background: #7098B1;border: 1px solid #c4c4c4;}
.is--c-ral104 {background: #2C5B6E;border: 1px solid #c4c4c4;}
.is--c-ral105 {background: #1D2754;border: 1px solid #c4c4c4;}
.is--c-ral106 {background: #4E7D6B;border: 1px solid #c4c4c4;}
.is--c-ral107 {background: #437248;border: 1px solid #c4c4c4;}
.is--c-ral108 {background: #456540;border: 1px solid #c4c4c4;}
.is--c-ral109 {background: #5A5E4D;border: 1px solid #c4c4c4;}
.is--c-ral110 {background: #335554;border: 1px solid #c4c4c4;}
.is--c-ral111 {background: #365148;border: 1px solid #c4c4c4;}
.is--c-ral112 {background: #4E4E46;border: 1px solid #c4c4c4;}
.is--c-ral113 {background: #43493F;border: 1px solid #c4c4c4;}
.is--c-ral114 {background: #47473F;border: 1px solid #c4c4c4;}
.is--c-ral115 {background: #3F4941;border: 1px solid #c4c4c4;}
.is--c-ral116 {background: #547546;border: 1px solid #c4c4c4;}
.is--c-ral117 {background: #728567;border: 1px solid #c4c4c4;}
.is--c-ral118 {background: #444D4C;border: 1px solid #c4c4c4;}
.is--c-ral119 {background: #827C64;border: 1px solid #c4c4c4;}
.is--c-ral120 {background: #534E48;border: 1px solid #c4c4c4;}
.is--c-ral121 {background: #4A4D46;border: 1px solid #c4c4c4;}
.is--c-ral122 {background: #167259;border: 1px solid #c4c4c4;}
.is--c-ral123 {background: #5E874D;border: 1px solid #c4c4c4;}
.is--c-ral124 {background: #619F49;border: 1px solid #c4c4c4;}
.is--c-ral125 {background: #B9D1AF;border: 1px solid #c4c4c4;}
.is--c-ral126 {background: #4A5449;border: 1px solid #c4c4c4;}
.is--c-ral127 {background: #8DA080;border: 1px solid #c4c4c4;}
.is--c-ral128 {background: #4B4640;border: 1px solid #c4c4c4;}
.is--c-ral129 {background: #298C5E;border: 1px solid #c4c4c4;}
.is--c-ral130 {background: #64774A;border: 1px solid #c4c4c4;}
.is--c-ral131 {background: #07695A;border: 1px solid #c4c4c4;}
.is--c-ral132 {background: #85BEB8;border: 1px solid #c4c4c4;}
.is--c-ral133 {background: #446052;border: 1px solid #c4c4c4;}
.is--c-ral134 {background: #00784B;border: 1px solid #c4c4c4;}
.is--c-ral135 {background: #36875E;border: 1px solid #c4c4c4;}
.is--c-ral136 {background: #578F86;border: 1px solid #c4c4c4;}
.is--c-ral137 {background: #85B1B0;border: 1px solid #c4c4c4;}
.is--c-ral138 {background: #08512A;border: 1px solid #c4c4c4;}
.is--c-ral139 {background: #00594B;border: 1px solid #c4c4c4;}
.is--c-ral140 {background: #008E38;border: 1px solid #c4c4c4;}
.is--c-ral141 {background: #00BB2E;border: 1px solid #c4c4c4;}
.is--c-ral142 {background: #838E94;border: 1px solid #c4c4c4;}
.is--c-ral143 {background: #949BA3;border: 1px solid #c4c4c4;}
.is--c-ral144 {background: #898270;border: 1px solid #c4c4c4;}
.is--c-ral145 {background: #7D7D71;border: 1px solid #c4c4c4;}
.is--c-ral146 {background: #A0A0A0;border: 1px solid #c4c4c4;}
.is--c-ral147 {background: #767875;border: 1px solid #c4c4c4;}
.is--c-ral148 {background: #7A7267;border: 1px solid #c4c4c4;}
.is--c-ral149 {background: #7A6A50;border: 1px solid #c4c4c4;}
.is--c-ral150 {background: #646760;border: 1px solid #c4c4c4;}
.is--c-ral151 {background: #616660;border: 1px solid #c4c4c4;}
.is--c-ral152 {background: #5E6367;border: 1px solid #c4c4c4;}
.is--c-ral153 {background: #656A6D;border: 1px solid #c4c4c4;}
.is--c-ral154 {background: #605C51;border: 1px solid #c4c4c4;}
.is--c-ral155 {background: #5D6065;border: 1px solid #c4c4c4;}
.is--c-ral156 {background: #4C4F54;border: 1px solid #c4c4c4;}
.is--c-ral157 {background: #47484A;border: 1px solid #c4c4c4;}
.is--c-ral158 {background: #5A5955;border: 1px solid #c4c4c4;}
.is--c-ral159 {background: #85867E;border: 1px solid #c4c4c4;}
.is--c-ral160 {background: #56575C;border: 1px solid #c4c4c4;}
.is--c-ral161 {background: #4B5355;border: 1px solid #c4c4c4;}
.is--c-ral162 {background: #97948D;border: 1px solid #c4c4c4;}
.is--c-ral163 {background: #6B727A;border: 1px solid #c4c4c4;}
.is--c-ral164 {background: #B7B4A5;border: 1px solid #c4c4c4;}
.is--c-ral165 {background: #868A7C;border: 1px solid #c4c4c4;}
.is--c-ral166 {background: #96907A;border: 1px solid #c4c4c4;}
.is--c-ral167 {background: #C9CBC8;border: 1px solid #c4c4c4;}
.is--c-ral168 {background: #9D9998;border: 1px solid #c4c4c4;}
.is--c-ral169 {background: #858585;border: 1px solid #c4c4c4;}
.is--c-ral170 {background: #B2B5AE;border: 1px solid #c4c4c4;}
.is--c-ral171 {background: #74716A;border: 1px solid #c4c4c4;}
.is--c-ral172 {background: #9EA3A7;border: 1px solid #c4c4c4;}
.is--c-ral173 {background: #949899;border: 1px solid #c4c4c4;}
.is--c-ral174 {background: #5D5F5E;border: 1px solid #c4c4c4;}
.is--c-ral175 {background: #BBB6B0;border: 1px solid #c4c4c4;}
.is--c-ral176 {background: #94989B;border: 1px solid #c4c4c4;}
.is--c-ral177 {background: #878C90;border: 1px solid #c4c4c4;}
.is--c-ral178 {background: #CACACA;border: 1px solid #c4c4c4;}
.is--c-ral179 {background: #878376;border: 1px solid #c4c4c4;}
.is--c-ral180 {background: #8B734F;border: 1px solid #c4c4c4;}
.is--c-ral181 {background: #9E6D44;border: 1px solid #c4c4c4;}
.is--c-ral182 {background: #7F5B4F;border: 1px solid #c4c4c4;}
.is--c-ral183 {background: #845A41;border: 1px solid #c4c4c4;}
.is--c-ral184 {background: #915847;border: 1px solid #c4c4c4;}
.is--c-ral185 {background: #775441;border: 1px solid #c4c4c4;}
.is--c-ral186 {background: #795B43;border: 1px solid #c4c4c4;}
.is--c-ral187 {background: #654A3F;border: 1px solid #c4c4c4;}
.is--c-ral188 {background: #6E4742;border: 1px solid #c4c4c4;}
.is--c-ral189 {background: #56483F;border: 1px solid #c4c4c4;}
.is--c-ral190 {background: #694642;border: 1px solid #c4c4c4;}
.is--c-ral191 {background: #5B443E;border: 1px solid #c4c4c4;}
.is--c-ral192 {background: #534542;border: 1px solid #c4c4c4;}
.is--c-ral193 {background: #4E4848;border: 1px solid #c4c4c4;}
.is--c-ral194 {background: #3D3C3A;border: 1px solid #c4c4c4;}
.is--c-ral195 {background: #A66442;border: 1px solid #c4c4c4;}
.is--c-ral196 {background: #7E5E4F;border: 1px solid #c4c4c4;}
.is--c-ral197 {background: #7C6255;border: 1px solid #c4c4c4;}
.is--c-ral198 {background: #5E4D43;border: 1px solid #c4c4c4;}
.is--c-ral199 {background: #83492F;border: 1px solid #c4c4c4;}
.is--c-ral200 {background: #EAE2D7;border: 1px solid #c4c4c4;}
.is--c-ral201 {background: #D8D8D0;border: 1px solid #c4c4c4;}
.is--c-ral202 {background: #EEEEEC;border: 1px solid #c4c4c4;}
.is--c-ral203 {background: #444446;border: 1px solid #c4c4c4;}
.is--c-ral204 {background: #3C3C3C;border: 1px solid #c4c4c4;}
.is--c-ral205 {background: #A3A29F;border: 1px solid #c4c4c4;}
.is--c-ral206 {background: #8D8C88;border: 1px solid #c4c4c4;}
.is--c-ral207 {background: #F2EFE8;border: 1px solid #c4c4c4;}
.is--c-ral208 {background: #3E3F41;border: 1px solid #c4c4c4;}
.is--c-ral209 {background: #F1F2ED;border: 1px solid #c4c4c4;}
.is--c-ral210 {background: #404040;border: 1px solid #c4c4c4;}
.is--c-ral211 {background: #CACFC9;border: 1px solid #c4c4c4;}
.is--c-ral212 {background: #9FA09F;border: 1px solid #c4c4c4;}
.is--c-ral213 {background: #8E9091;border: 1px solid #c4c4c4;}