.container {
    max-width: #{1520px + 60px};
    width: 100%;
    padding-left: 30px;
    padding-right: 30px;
    margin: 0 auto;
}

.message {
    position: absolute;
    background-color: var(--text-color);
    color: var(--main-bg);
    border-radius: 6px;
    white-space: nowrap;
    &::after {
        bottom: 100%;
        right: 22px;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
        border-color: rgba(136, 183, 213, 0);
        border-bottom-color: var(--text-color);
        border-width: 11px;
        margin-left: -11px;
    }
    &__inner {
        padding: 10px 15px;
    }
    &__text {
        margin-bottom: 10px;
    }
    &__btn {
        button {
            color: var(--main-bg);
            text-decoration: underline;
            &:hover {
                background: linear-gradient(95.08deg, #7B5F54 12.76%, #5B433F 107.12%), #3E4148 !important;
                -webkit-background-clip: text !important;
                -webkit-text-fill-color: transparent !important;
                text-decoration: underline !important;
            }
        }
    }
}

.social {
    ul {
        display: flex;
        align-items: center;
        li {
            a {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 45px;
                height: 45px;
                border-radius: 100%;
                background: #3E4148;
                transition: .25s all ease;
                &:hover {
                    background: linear-gradient(157.33deg, #7B5F54 12.55%, #5B433F 85.27%), #3E4148;
                }
                svg {
                    fill: #fff;
                }
            }
        }
    }
    &.is--left {
        ul {
            li {
                margin-right: 25px;
                &:last-child {
                    margin-right: 0;
                }
            }
        }
    }
}

.btn {
    display: inline-flex;
    align-items: center;
    padding: 25px 33px;
    position: relative;
    border: 4px solid #5B433F;
    border-radius: 50px;
    &:hover {
        span {
            &.is--text {
                transform: translateX(5px);
            }
        }
    }
    span {
        &.is--icon {
            display: inline-block;
            margin-right: 15px;
            svg {
                fill: #5B433F;
            }
        }
        &.is--text {
            color: var(--text-color);
            font-weight: 450;
            font-size: 16px;
            line-height: 112.5%;
            letter-spacing: 0.095em;
            transition: .25s all ease;
        }
    }
}

.heading {
    color: var(--text-color);
    &__text {
        font-weight: 450;
        font-size: 64px;
        line-height: 75%;
    }
    &__sub {
        padding-top: 40px;
        font-size: 18px;
    }
}

@media (max-width: 768px) {
    .btn {
        padding: 15px 20px;
        border-width: 3px;
    }
    .heading {
        &__text {
            font-size: 36px;
        }
    }
}