@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    .is--iehide {
        display: none;
    }
    .form {
        &-field {
            input[type="text"],
            input[type="email"],
            input[type="password"] {
                &::placeholder {
                    color: $form-field-text;
                }
            }
            label {
                opacity: 0;
                visibility: hidden;
            }
        }
    }    
}