.banner {
    @include col(background-color, var(--banner-bg), $banner-bg);
    position: relative;
    overflow: hidden;
    &::after {
        content: '';
        @include col(background-color, var(--banner-line-bg), $banner-line-bg);
        position: absolute;
        height: 100%;
        right: 155px;
        width: 36vw;
        top: 0;
    }
    &__inner {
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        position: relative;
        z-index: 1;
    }
    &__content {
        padding-top: 160px;
        min-height: calc(100vh - 195px);
        &__list {
            position: relative;
            &__item {
                position: absolute;
                height: calc(100vh - 195px - 160px);
                width: 100%;
                display: flex;
                align-items: center;
                &.is--active {
                    .banner {
                        &__content {
                            &__list {
                                &__item {
                                    &__left,
                                    &__right {
                                        opacity: 1;
                                        transform: translateX(0);
                                    }
                                }
                            }
                        }
                    }
                    
                }
                &.is--clos {
                    .banner {
                        &__content__list__item {
                            &__left,
                            &__right {
                                transform: translateX(100%);
                            }
                        }
                    }
                }
                &__left {
                    width: 34vw;
                    img {
                        max-height: calc(100vh - 195px - 160px);
                        max-width: 100%;
                        height: auto;
                        width: auto;
                    }
                }
                &__left,
                &__right {
                    opacity: 0;
                    transform: translateX(-100%);
                    transition: 1.5s all ease;
                }
                &__right {
                    transition: 1.5s all ease;
                    transition-delay: .2s;
                    position: relative;
                    z-index: 99;
                }
                &__content {
                    &__company {
                        color: #7B5F54;
                        font-weight: 450;
                        font-size: 24px;
                        line-height: 75%;
                        margin-bottom: 30px;
                    }
                    &__title {
                        font-weight: 450;
                        font-size: 72px;
                        line-height: 90%;
                        margin-bottom: 30px;
                    }
                    &__desc {
                        margin-bottom: 75px;
                        p {
                            font-size: 18px;
                            line-height: 112.5%;
                            margin: 0;
                        }
                    }
                }
            }
        }
    }
    &__footer {
        width: 100%;
        margin-top: auto;
        min-height: 150px;
        position: relative;
        z-index: 999;
        &__inner {
            display: flex;
            align-items: flex-end;
        }
        &__social {
            width: 34vw;
        }
        &__list {
            margin-right: 15vw;
            ul {
                display: flex;
                align-items: center;
                li {
                    margin-right: 90px;
                    display: none;
                    &.is--active {
                        display: block;
                    }
                }
            }
            &__block {
                color: var(--text-color);
                display: block;
                &__title {
                    font-size: 16px;
                    line-height: 112.5%;
                    margin-bottom: 15px;
                }
                &__price {
                    font-weight: bold;
                    font-size: 18px;
                }
            }
        }
        &__next {
            &__block {
                display: block;
                &__inner {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    &:hover {
                        .banner__footer__next {
                            &__block {
                                &__icon {
                                    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
                                }
                            }
                        }
                    }
                }
                &__icon {
                    width: 45px;
                    height: 45px;
                    display: flex;
                    align-items: center;
                    background: linear-gradient(135.71deg, #735850 20.78%, #5B433F 84.07%), #C4C4C4;
                    transition: .25s all ease;
                    justify-content: center;
                    border-radius: 100%;
                    margin-right: 15px;
                    svg {
                        fill: #fff;
                    }
                }
                &__label {
                    font-size: 16px;
                    line-height: 98%;
                    letter-spacing: 0.145em;
                    color: var(--text-color);
                }
            }
        }
        &__scroll {
            width: 155px;
            margin-left: auto;
            display: flex;
            align-items: center;
            justify-content: center;
            &__inner {
                padding: 0;
                border: none;
                background: transparent;
                display: flex;
                align-items: center;
                transform-origin: center;
                transform: rotate(-90deg) translateX(23px);
                cursor: pointer;
                padding: 15px 0;
                &:hover {
                    .banner__footer__scroll {
                        &__line {
                            span {
                                width: 25px;
                            }
                        }
                    }
                }
            }
            &__text {
                color: var(--text-color);
                font-size: 18px;
            }
            &__line {
                margin-right: 20px;
                width: 40px;
                span {
                    display: block;
                    height: 3px;
                    background: #7B5F54;
                    width: 40px;
                    transition: .25s all ease;
                }
            }
        }
    }
}

.in-categories {
    background: var(--footer-bg);
    padding: 90px 0 110px 0;
    &__inner {
        .heading {
            margin-bottom: 75px;
        }
    }
    &__list {
        display: flex;
        flex-wrap: wrap;
        &__inner {
            display: flex;
            align-items: flex-start;
        }
        &__left,
        &__right {
            display: flex;
            flex-wrap: wrap;
            width: 100%;
        }
        &__left {
            .in-categories {
                &__block {
                    max-width: 25%;
                }
            }
        }
        &__right {
            min-width: (1520px / 5);
            width: (1520px / 5);
            height: 100%;
        }
    }
    &__block {
        width: 100%;
        padding: 5px;
        &__inner {
            display: flex;
            background: var(--main-bg);
            height: 100%;
            flex-wrap: wrap;
            align-items: flex-start;
            justify-content: flex-start;
            flex-direction: column;
            &:hover {
                .in-categories {
                    &__block {
                        &__inner {
                        }
                        &__image {
                            img {
                                transform: scale(1.08);
                            }
                        }
                    }
                }
            }
        }
        &__image {
            text-align: center;
            width: 100%;
            overflow: hidden;
            padding-left: 15px;
            padding-right: 15px;
            img {
                max-width: 230px;
                transition: .25s all ease;
            }
        }
        &__title {
            padding: 20px 10px 45px 10px;
            text-align: center;
            font-weight: 450;
            font-size: 24px;
            line-height: 119.5%;
            color: var(--text-color);
            width: 100%;
        }
        &.is--big {
            .in-categories {
                &__block {
                    height: 100%;
                    &__inner {
                        height: 100%;
                    }
                    &__image {
                        text-align: right;
                        margin-top: auto;
                        padding-right: 0;
                    }
                    &__title {
                        margin-top: auto;
                    }
                }
            }
        }
    }
}

.in-production {
    background: var(--in-production-bg);
    padding-top: 90px;
    padding-bottom: 100px;
    &__inner {
        display: flex;
        align-items: center;
    }
    &__left {
        margin-right: 30px;
        .heading {
            margin-bottom: 50px;
        }
    }
    &__right {
        margin-left: auto;
        max-width: 900px;
        &__inner {
            display: flex;
            flex-wrap: wrap;
            margin: 0 -10px;
        }
        &__block {
            max-width: 33.333333%;
            width: 100%;
            display: flex;
            align-items: center;
            padding-left: 10px;
            padding-right: 10px;
            &__icon {
                margin-right: 20px;
                svg {
                    fill: #5B433F;
                }
            }
            &:nth-child(1),
            &:nth-child(2),
            &:nth-child(3) {
                margin-bottom: 75px;
            }
        }
    }
}

.in-td {
    &__inner {
        display: flex;
    }
    &__left {
        background: var(--tdblock-left-bg);
        min-width: 51vw;
        width: 51vw;
        position: relative;
        &__inner {
            padding: 130px 0 140px 0;
            .heading {
                margin-bottom: 50px;
            }
        }
        &__img {
            position: absolute;
            top: 0;
            right: 6vw;
        }
    }
    &__right {
        background: var(--tdblock-right-bg);
        width: 100%;
    }
    &__form {
        &__inner {
            padding: 150px 10.4vw 150px 6.3vw;
        }
        &__heading {
            margin-bottom: 85px;
            font-size: 36px;
        }
    }
}

@media (max-width: 1440px) {
    .banner {
        &__footer {
            min-height: 150px;
            &__social {
                width: 24vw;
            }
            &__list {
                margin-right: 60px;
            }
        }
        &__content {
            &__list {
                &__item {
                    &__content {
                        &__company {
                            font-size: 20px;
                            margin-bottom: 20px;
                        }
                        &__title {
                            font-size: 46px;
                            margin-bottom: 20px;
                        }
                        &__desc {
                            margin-bottom: 35px;
                            p {
                                font-size: 16px;
                            }
                        }
                    }
                }
            }
        }
    }
    .in-categories {
        &__list {
            &__right {
                .in-categories {
                    &__block {
                        &__image {
                            padding-right: 0;
                        }
                    }
                }
            }
        }
        &__block {
            &__title {
                font-size: 20px;
            }
        }
    }
    .in-td {
        &__left {
            min-width: 60vw;
            &__inner {
                padding: 100px 0;
            }
        }
        &__form {
            &__inner {
                padding: 100px 50px;
            }
        }
    }
}

@media (max-width: 1200px) {
    .banner {
        &__footer {
            &__social {
                display: none;
            }
        }
    }
    .in-categories {
        &__list {
            &__inner {
                flex-wrap: wrap;
            }
            &__right,
            &__left {
                height: auto;
                width: 100%;
            }
        }
        &__block {
            &.is--big {
                .in-categories {
                    &__block {
                        &__inner {
                            height: auto;
                            display: flex;
                            flex-direction: row;
                            align-items: center;
                            padding-left: 10vw;
                        }
                        &__title {
                            order: 0;
                            margin-top: 0;
                            padding: 20px 10px 20px;
                        }
                        &__image {
                            margin-left: auto;
                            order: 1;
                            img {
                                max-width: 170px;
                            }
                        }
                        &__image,
                        &__title {
                            width: auto;
                        }
                    }
                }
            }
        }
    }
    .in-production {
        &__right {
            &__block {
                max-width: 50%;
                &:nth-child(1),
                &:nth-child(2),
                &:nth-child(3),
                &:nth-child(4) {
                    margin-bottom: 40px;
                }
            }
        }
    }
    .in-td {
        &__inner {
            flex-wrap: wrap;
        }
        &__left {
            min-width: 0;
            max-width: 100%;
            width: 100%;
            &__inner {
                .heading {
                    padding-right: 250px;
                }
            }
        }
    }
}

@media (max-width: 1025px) {
    .in-production {
        &__inner {
            flex-wrap: wrap;
        }
        &__right {
            margin-left: 0;
        }
        &__left {
            margin-right: 0;
            margin-bottom: 50px;
        }
    }
    .in-td {
        &__left {
            &__inner {
                padding-top: 50px;
                padding-bottom: 50px;
            }
            &__img {
                img {
                    height: 350px;
                    width: auto;
                }
            }
        }
        &__form {
            &__inner {
                padding: 50px 30px;
            }
        }
    }
}

@media (max-width: 768px) {
    .banner {
        &::after {
            width: 50vw;
            right: 50px;
        }
        &__content {
            padding-top: 90px;
            min-height: 100vh;
            &__list {
                &__item {
                    display: block;
                    &__left {
                        width: 50vw;
                        margin-bottom: 20px;
                    }
                    &__content {
                        &__company {
                            font-size: 18px;
                            margin-bottom: 15px;
                        }
                        &__title {
                            font-size: 26px;
                            margin-bottom: 15px;
                        }
                        &__desc {
                            margin-bottom: 20px;
                            p {
                                font-size: 14px;
                                br {
                                    display: none;
                                }
                            }
                        }
                    }
                }
            }
        }
        &__footer {
            display: none;
        }
    }
    .in-categories {
        padding: 50px 0;
        .heading {
            margin-bottom: 30px;
        }
        &__list {
            &__inner {
                width: 100%;
            }
            &__right {
                min-width: 0;
            }
        }
        &__block {
            &.is--default {
                max-width: 50%;
            }
            &__title {
                font-size: 18px;
                padding: 20px 10px 20px;
                br {
                    display: none;
                }
            }
        }
    }
    .in-production {
        padding: 50px 0;
        &__left {
            .heading {
                margin-bottom: 30px;
            }
        }
        &__right {
            &__block {
                max-width: 100%;
                margin-bottom: 30px !important;
                &:last-child {
                    margin-bottom: 0 !important;
                }
                &__icon {
                    min-width: 60px;
                    width: 60px;
                    svg {
                        width: 60px;
                    }
                }
            }
        }
    }
    .in-td {
        overflow: hidden;
        &__left {
            padding-right: 30px;
            &__img {
                top: -60px;
                img {
                    height: 250px;
                }
            }
            &__inner {
                padding-top: 220px;
                .heading {
                    padding-right: 0;
                }
            }
        }
        &__form {
            &__heading {
                margin-bottom: 40px;
            }
        }
    }
}

@media (max-width: 500px) {
    .in-categories {
        &__block {
            &.is--default {
                max-width: 100%;
            }
            &.is--big {
                .in-categories {
                    &__block {
                        &__inner {
                            padding-left: 0;
                        }
                        &__image {
                            order: 0;
                        }
                    }
                }
            }
        }
    }
}