@mixin col($param, $var, $color) {
    #{$param}: $var;
    @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
        #{$param}: $color !important;
    }
}

@mixin colImp($param, $var, $color) {
    #{$param}: $var !important;
    @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
        #{$param}: $color !important;
    }
}

@mixin colBorder($param, $size, $type, $var, $color) {
    #{$param}: $size $type $var;
    @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
        #{$param}: $size $type $color;
    }
}

@mixin colBorderImp($param, $size, $type, $var, $color) {
    #{$param}: $size $type $var !important;
    @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
        #{$param}: $size $type $color !important;
    }
}