.blocker {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    z-index: 9999999999;
    padding: 20px;
    box-sizing: border-box;
    background-color: rgba(0, 0, 0, 0.75);
    text-align: center
}

.blocker:before {
    content: "";
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -0.05em
}

.blocker.behind {
    background-color: transparent
}

.modal {
    display: none;
    vertical-align: middle;
    position: relative;
    z-index: 2;
    box-sizing: border-box;
    width: 90%;
    max-width: 670px;

    text-align: center;
    box-shadow: 0px 4px 37px rgba(0, 0, 0, 0.066);
    padding: 70px 40px 80px 40px;
    @include col(background-color, var(--main-bg), $main-bg);
    @include col(color, var(--text-color), $text-color);
    background-image: url(../../img/modal.png);
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    &.is--map {
        padding: 0;
    }
    &.is--picker {
        background-image: none;
    }
    &__heading {
        font-size: 36px;
        margin-bottom: 50px;
    }
    &__picker {
        width: 100%;
        margin: 0 auto;
        &__inner {
            display: flex;
            flex-wrap: wrap;
            margin: 0 -15px;
            justify-content: center;
        }
        &__block {
            max-width: 190px;
            width: 100%;
            padding-left: 15px;
            padding-right: 15px;
            margin-bottom: 50px;
            &__inner {
                display: flex;
                align-items: center;
                cursor: pointer;
                transition: .25s all ease;
                &:hover {
                    transform: translateY(-5px) scale(1.05);
                }
            }
            &__left {
                margin-right: 15px;
                span {
                    width: 67px;
                    height: 67px;
                    display: block;
                    border-radius: 100%;
                }
            }
            &__right {
                font-weight: 450;
                font-size: 18px;
            }
        }
        @media (max-width: 768px) {
            &__block {
                margin-bottom: 15px;
                max-width: 50%;
                &__left {
                    span {
                        width: 30px;
                        height: 30px;
                    }
                }
            }
        }
    }
    a.is--sq[rel="modal:close"] {
        position: absolute;
        right: 25px;
        top: 25px;
        width: 22px;
        height: 22px;
        background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABYAAAAWCAYAAADEtGw7AAAACXBIWXMAAAsTAAALEwEAmpwYAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAACDSURBVHgBxdVRCoAgEATQpRN0lO7/YzfwSJPCfkXqusPQghDSPMotNQBXG6WN08jqhluX+UWvyuCOVrfKeyKFDw0GX2YzeDizg28/SCSQXrpZECCb/QXQ6ATn0QEeRg/7oyRLIWme5HOT/CA7gfC9mVdcZkA0BYq9eIpDczTdfUJymD7U96F0im0IxgAAAABJRU5ErkJggg==');
        background-size: cover;
        @media (max-width: 768px) {
            top: 15px;
            right: 15px;
            width: 15px;
            height: 15px;
        }
    }
}
.modal-spinner {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    padding: 12px 16px;
    border-radius: 5px;
    background-color: #111;
    height: 20px
}

.modal-spinner>div {
    border-radius: 100px;
    background-color: #fff;
    height: 20px;
    width: 2px;
    margin: 0 1px;
    display: inline-block;
    -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
    animation: sk-stretchdelay 1.2s infinite ease-in-out
}

.modal-spinner .rect2 {
    -webkit-animation-delay: -1.1s;
    animation-delay: -1.1s
}

.modal-spinner .rect3 {
    -webkit-animation-delay: -1.0s;
    animation-delay: -1.0s
}

.modal-spinner .rect4 {
    -webkit-animation-delay: -0.9s;
    animation-delay: -0.9s
}

@-webkit-keyframes sk-stretchdelay {
    0%,
    40%,
    100% {
        -webkit-transform: scaleY(0.5)
    }
    20% {
        -webkit-transform: scaleY(1.0)
    }
}

@keyframes sk-stretchdelay {
    0%,
    40%,
    100% {
        transform: scaleY(0.5);
        -webkit-transform: scaleY(0.5)
    }
    20% {
        transform: scaleY(1.0);
        -webkit-transform: scaleY(1.0)
    }
}

@media (max-width: 768px) {
    .modal {
        padding: 40px 20px 40px;
        &__heading {
            font-size: 24px;
            margin-bottom: 30px;
        }
    }
}