.navbar {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 9999;
    transition: .25s all ease;
    &.is--menu-open {
        @include col(background, var(--main-bg), $main-bg);
    }
    &.is--nnb {
        @include col(background, var(--main-bg), $main-bg);
    }
    &.is--search {
        .navbar {
            &__search {
                visibility: visible;
                opacity: 1;
                z-index: 999999999999;
            }
            &__menu {
                &.is--on {
                    opacity: 0;
                }
            }
            &__left {
                opacity: 0;
            }
        }
    }
    &.is--scroll {
        @include col(background, var(--main-bg), $main-bg);
        @include colBorderImp(border-bottom, 1px, solid, var(--navbar-border-color), $navbar-border-color);
        .navbar {
            &__logo {
                padding: 0 35px;
                svg {
                    width: 113px;
                    height: 76px;
                }
            }
            &__inner {
                height: 100px;
            }
        }
        .navbar__menu ul li a {
            @include colImp(color, var(--text-color), $text-color);
        }
        .navbar__logo svg {
            @include colImp(fill, var(--text-color), $text-color);
        }
        .iconset {
            svg {
                @include colImp(fill, var(--text-color), $text-color);
            }
        }
        .navbar__search form input[type=text] {
            @include colImp(border-color, var(--text-color), $text-color);
            @include colImp(color, var(--text-color), $text-color);
            &::placeholder {
                @include colImp(color, var(--text-color), $text-color);
            }
        }
        .navbar__search form button svg {
            @include colImp(fill, var(--text-color), $text-color);
        }
    }
    &.is--default {
        @include colBorder(border-bottom, 1px, solid, var(--navbar-border-color), $navbar-border-color);
    }
    &.is--transparent-border {
        border-bottom: 1px solid rgba(255, 255, 255, 0.14);
        .navbar__menu ul li a {
            color: #fff;
        }
        .navbar__logo svg {
            fill: #fff;
        }
        .iconset {
            svg {
                fill: #fff;
            }
        }
        .navbar__search form input[type=text] {
            border-color: #fff;
            color: #fff;
            &::placeholder {
                color: #fff;
            }
        }
        .navbar__search form button svg {
            fill: #fff;
        }
    }
    &__inner {
        height: 160px;
        align-items: center;
        display: flex;
        justify-content: center;
        position: relative;
        transition: .25s all ease;
    }
    &__search {
        position: absolute;
        left: 30px;
        width: 32vw;
        visibility: hidden;
        opacity: 0;
        transition: .25s all ease;
        top: 50%;
        margin-top: -20px;
        max-width: 590px;
        @media (max-width: 1800px) {
            width: 35vw;
        }
        form {
            position: relative;
            input[type="text"] {
                width: 100%;
                padding: 15px 50px 15px 0;
                border: none;
                @include colBorder(border-bottom, 1px, solid, var(--text-color), $text-color);
                background: transparent;
                @include col(color, var(--text-color), $text-color);
                font-size: 16px;
                &::placeholder {
                    @include col(color, var(--text-color), $text-color);
                }
            }
            button {
                position: absolute;
                right: 0;
                background: 0;
                border: none;
                padding: 0;
                cursor: pointer;
                right: 0;
                top: 50%;
                margin-top: -7px;
                svg {
                    @include col(fill, var(--text-color), $text-color);
                }
            }
        }
    }
    &__center {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &__logo {
        padding: 0 75px;
        transition: .25s all ease;
        svg {
            @include col(fill, var(--text-color), $text-color);
            transition: .25s all ease;
        }
    }
    &__menu {
        ul {
            display: flex;
            align-items: center;
            li {
                padding: 0 20px;
                a {
                    padding: 15px;
                    display: block;
                    @include col(color, var(--text-color), $text-color);
                    font-size: 18px;
                    overflow: hidden;
                    transition: .25s all ease;
                    &:hover {
                        opacity: .6;
                    }
                }
                &.is--c-dropdown {
                    position: relative;
                    &:hover {
                        ul {
                            opacity: 1;
                        }
                    }
                    ul {
                        opacity: 0;
                        position: absolute;
                        display: block;
                        @include col(background-color, var(--text-color), $text-color);
                        @include col(color, var(--main-bg), $main-bg);
                        border-radius: 6px;
                        white-space: nowrap;
                        padding: 15px;
                        left: 0;
                        &::after {
                            bottom: 100%;
                            left: 50%;
                            border: solid transparent;
                            content: " ";
                            height: 0;
                            width: 0;
                            position: absolute;
                            pointer-events: none;
                            border-color: rgba(136, 183, 213, 0);
                            @include col(border-bottom-color, var(--text-color), $text-color);
                            border-width: 11px;
                            margin-left: -11px;
                        }
                        li {
                            padding-left: 0;
                            padding-right: 0;
                            a {
                                @include colImp(color, var(--main-bg), $main-bg);
                                padding: 5px 0;
                            }
                        }
                    }
                }
            }
        }
    }
    &__left,
    &__right {
        position: absolute;
        .iconset {
            display: flex;
            li {
                position: relative;
                a,
                button {
                    border: none;
                    background: transparent;
                    padding: 0;
                    cursor: pointer;
                    svg {
                        @include col(fill, var(--text-color), $text-color);
                    }
                }
                .message {
                    top: calc(100% + 20px);
                    right: -25px;
                }
                span.is--label {
                    position: absolute;
                    width: 20px;
                    height: 20px;
                    background: #E1323D;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border-radius: 100%;
                    right: -15px;
                    top: -12px;
                    font-size: 13px;
                    font-weight: 500;
                    color: #fff;
                }
            }
            &.is--right {
                li {
                    margin-left: 20px;
                }
            }
            &.is--left {
                li {
                    margin-right: 20px;
                }
            }
        }
    }
    &__left {
        left: 30px;
        top: 44%;
    }
    &__right {
        right: 30px;
    }
    &__mobile {
        display: none;
        button.hamburger {
            padding: 0;
            .hamburger-box {
                width: 30px;
            }
            .hamburger-inner, .hamburger-inner::after, .hamburger-inner::before {
                width: 30px;
                height: 1px;
                @include colImp(background-color, var(--text-color), $text-color);
            }
            .hamburger-inner {
                margin-top: 0;
                &::after {
                    bottom: -7px;
                }
                &::before {
                    top: -7px;
                }
            }
        }
        .hamburger--spin.is-active .hamburger-inner::before {
            top: 0;
        }
        .hamburger--spin.is-active .hamburger-inner::after {
            bottom: 0;
        }
    }
    &__aside {
        position: fixed;
        width: 300vh;
        @include col(background, var(--main-bg), $main-bg);
        height: 100vh;
        right: 0;
        top: 0;
        z-index: 999;
        transition: .9s transform cubic-bezier(.99,.01,0,1);
        transform: rotate(-90deg);
        transform-style: preserve-3D;
        transform-origin: top right;
        justify-content: flex-end;
        display: none;
        &.is--open {
            transform: rotate(0);
        }
        &__inner {
            width: 100vw;
            padding-top: 120px;
            padding-left: 30px;
            @include col(color, var(--text-color), $text-color);
            overflow: auto;
            .is--ml {
                transform: translateY(15px);
                transition: .7s all ease;
                transition-delay: .5s;
                opacity: 0;
                &.is--moved {
                    opacity: 1;
                    transform: translateY(0);
                }
            }
        }
        &__menu {
            width: 100%;
            ul {
                li {
                    a {
                        font-size: 18px;
                        display: block;
                        padding: 16px 0;
                        @include col(color, var(--text-color), $text-color);
                    }
                    ul {
                        margin-left: 30px;
                    }
                }
            }
        }
        &__btns {
            width: 100%;
            padding-top: 30px;
            padding-bottom: 10vh;
            position: relative;
            padding-right: 30px;
            ul {
                display: flex;
                align-items: center;
                li {
                    button,
                    a {
                        cursor: pointer;
                        padding: 0;
                        background: transparent;
                        border: none;
                    }
                    margin-right: 25px;
                    svg {
                        @include col(fill, var(--text-color), $text-color);
                    }
                }
            }
            &__search {
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                max-width: calc(100% - 30px);
                visibility: hidden;
                opacity: 0;
                transition: .25s all ease;
                &.is--open {
                    opacity: 1;
                    visibility: visible;
                    & ~ ul {
                        opacity: 0;
                    }
                }
                form {
                    input[type="text"] {
                        width: 100%;
                        box-sizing: border-box;
                        max-width: 100%;
                        padding: 15px 0;
                        border: none;
                        @include colBorder(border-bottom, 1px, solid, var(--text-color), $text-color);
                        @include col(background, var(--main-bg), $main-bg);
                        @include col(color, var(--text-color), $text-color);
                        font-size: 16px;
                        &::placeholder {
                            @include col(color, var(--text-color), $text-color);
                        }
                    }
                }
            }
        }
    }
    &__drop {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 999;
        @include col(background, var(--main-bg), $main-bg);
        width: 100vw;
        height: 100vh;
        display: none;
        &__inner {
            padding-top: 50px;
            display: flex;
        }
        &__right {
            margin-left: auto;
            ul {
                li {
                    a {
                        font-weight: 450;
                        font-size: 24px;
                        line-height: 119.5%;
                        @include col(color, var(--text-color), $text-color);
                        display: block;
                        padding: 10px 0;
                        transition: .25s all ease;
                        &:hover {
                            color: $c-primary;
                        }
                    }
                }
            }
        }
    }
}

@media(max-width: 1440px) {
    .navbar {
        &__logo {
            padding: 0 40px;
        }
        &__menu {
            ul {
                li {
                    padding: 0 15px;
                    a {
                        padding: 15px 10px;
                    }
                }
            }
        }
    }
}

@media (max-width: 1200px) {
    .navbar {
        &__left,
        &__menu,
        &__right,
        &__search {
            display: none;
        }
        &__inner {
            height: 80px !important;
            justify-content: space-between;
        }
        &__logo {
            padding: 0 !important;
            svg {
                width: 90px !important;
                height: 61px !important;
            }
        }
        &__mobile {
            display: block;
        }
        &__aside {
            display: flex;
        }
    }
}