:root {
    --main-bg: #262930;
    --banner-bg: #1D2027;
    --banner-line-bg: #262930;
    --footer-bg: #1B1D23;
    --footer-text: rgba(255, 255, 255, 0.37);
    --text-color: #FFFFFF;
    --in-production-bg: #1F2228;
    --tdblock-left-bg: #262930;
    --tdblock-right-bg: #1D2027;
    --form-field: #FFFFFF;
    --form-field-text: #AFAFAF;
    --navbar-border-color: rgba(255, 255, 255, 0.14);
    --catalog-card-bg: #1D2027;
    --catalog-card-bg-hover: #16181D;
    --item-bg: #1B1D23;
    --item-borders: rgba(255, 255, 255, 0.14);
    --form-c1-bg: #1F2228;
}