:root {
    --main-bg: #fff;
    --banner-bg: #FFFFFF;
    --banner-line-bg: #F8F8F8;
    --footer-bg: #EEEDEB;
    --footer-text: #3E4148;
    --text-color: #0F0F0F;
    --in-production-bg: #ffffff;
    --tdblock-left-bg: #F8F8F8;
    --tdblock-right-bg: #FEFEFE;
    --form-field: #0F0F0F;
    --form-field-text: #0F0F0F;
    --navbar-border-color: #EEEDEB;
    --catalog-card-bg: #F5F5F5;
}